<div>
    <h1 name="title">{{title}}</h1>
    <img alt="{{title}}" src="{{path}}">
    <p>{{desc}}</p>
    <h2>Comics</h2>
    <ul>
        {{#each comics}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</div>

