<h1>{{title}}</h1>
<p>{{error}}</p>
<form method="post" action={{action}} id="login-form">
    <label for="username">Username:</label>
    <input type="textarea" id="username" name="username"/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>
    <button type="submit">Check</button>
</form>
<a href={{redirect}}>{{in_out}}</a>